


.login{
    text-decoration: none;
    background-color: #212529;
    border-radius: 20px;
    padding: 30px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    
}

.register {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-color: #212529;
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
    padding: 30px;
    color: black;
    font-size: 20px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}

.custom-container{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.custom-container a{
    margin: 50px;
}


