body {
    background-color: rgb(255, 255, 255);
}

.logo-form{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.logo{
    font-size: 100px;
    font-weight: bold;
    margin-top: 100px;
}



.custom-form{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 30%;
    padding: 30px;
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 0px;

}

#id_username{
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}
#id_password{
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

.submit{
    color: white;
    background-color: rgb(1, 48, 48);
    border-color: rgb(1, 48, 48);
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}

.or{
    text-align: center;
    margin: 20px;
}

.register{
    text-align: center;
}