{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'events/css/dashboardUser.css' %}">
    <link rel="stylesheet" href="{% static 'events/bootstrap/css/bootstrap.min.css' %}">

    <title>Document</title>
</head>
<body>
    <h1>Les évenement disponilbles sont visibles ici</h1>

    {% for event in events %}
        <p>
            <a href="{% url 'events:reservationFormulaire' event.id %}">
           
                {{ event.name }}
         
        </a>
        </p>
    {% endfor %}
</body>
</html>