{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'events/css/dashboardAdmin.css' %}">
    <link rel="stylesheet" href="{% static 'events/bootstrap/css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="div-1">

        <div class="div-3">

            <div class="nav-links">
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
                <p>Lorem ipsum dolor sit amet <br></p>
            </div>

            <div class="dash">
                <h1 class="tableau">Dashboard</h1>
                <p class="create_event">
                    <a href="{% url 'events:create_event' %}">Create Event </a>
                </p>
        
                <div class="div-2">
                    
    
                        <div>
                            <h3>Vos evenement</h3>
                            {% for event in events %}
                                <p>
                                    <a href="{% url 'events:show_event' event.id %}"> 
                                        {{ event.name }}
                                    </a>
                                </p>
                            {% endfor %}
                        </div>
                
                    <div>
                        <h3>Les reservations</h3>
                        <a href="{% url 'events:reservationsList' %}">Listes reservation</a>
                        {% for reserv in reservation %}
                        <p>
                                {{ reserv.name_subscriber }}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                
            </div>
        </div>
    </div>

</body>
</html>