{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'events/css/reservationsList.css' %}">
    <link rel="stylesheet" href="{% static 'events/bootstrap/css/bootstrap.min.css' %}">



    <title>Document</title>
</head>
<body>
    <h1>Listes reservation</h1>
    <p>
        {% for reservations in reser %}
            <p>
                {{ reservations.name_subscriber }}
            </p>
        {% endfor %}
    </p>
</body>
</html>