{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}">

    <title>Document</title>
</head>
<body>
    <h1>Connexion ou enregistrement</h1>

    <a href="{% url 'accounts:login_user' %}">Login</a> <br>
    <a href="{% url 'accounts:register_user' %}">Register</a>
</body>
</html>